/* Move down content because we have a fixed navbar that is 50px tall */
.jumbotron {
	background-color: #fff;
}

.navbar-brand {
	font-color: #fff;	
}

body {
  padding-top: 500px;
  padding-bottom: 20px;
}
